include ../mixins/main
doctype html
html
    head
        include ../sections/head
    body
        .l-wrapper
            include ../sections/header
            include ../sections/preview
            include ../sections/slogan
            include ../sections/about
            include ../sections/team
            include ../sections/services
            include ../sections/testimonials
            include ../sections/slider
            include ../sections/skils
            include ../sections/portfolio
            include ../sections/blog
            include ../sections/contacts
            include ../sections/map
        include ../sections/footer
        script(src="/assets/js/jquery-3.2.1.min.js")
        script(src="/assets/js/main.js")
        script(src="/assets/js/slick-nav/jquery.slicknav.min.js")