/* mixins */
@import "mixins/mixin";
/* end mixins*/

/* core */
@import "core/core";
/* end core */

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 1080px) {
  .nav__link{
    font-size: 1em;
  }
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
  .nav__link{
    font-size: 0.75em;
  }

  /*about*/
  .about__item{
    width: 45%;
    border: none;
  }
  /*end about*/

  /*team*/
  .team__item{
    width: 45%;
  }
  /*end team*/

  /*services*/
  .services__item{
    width: 95%;
  }
  /*end services*/
  /*testimonials*/
  .testimonials__item{
    width: 95%;
    margin: 0 0 2em 0;
  }
  /*end testimonials*/
  /*skils*/
  .skils__item{
    width: 45%;
    margin: 0 0 2em 0;
  }
  /*end skils*/
  /*portfolio*/
  .portfolio__item{
    width: 50%;
  }
  /*end portfolio*/
  /*blog*/
  .blog__list{
    column-count: 2;
  }
  /*end blog*/
  /*footer*/
  .l-footer-block{
    width: 48%;
  }
  .footer-block__item{
    float: left;
    padding:0 1em;
  }
  /*end footer*/
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
  .header__top{
    text-align: center;
  }
    .logo{
      float: none;
      text-align: center;
      width:100%;
    }
    .nav__list{
      display: block;
      width:100%;
      text-align: center;
    }
    .nav__link{
      font-size: 1em;
    }
}

@media only screen and (max-width : 600px) {
  .nav__list{
    display: none;
  }
  .l-nav{
    display: block;
  }
    .nav__item{
      float: none;
    }
  .slicknav_nav li{
      display: block;
    }
    .sub-nav__list{
      position: relative;
      display: block;
      width:100%;
      visibility: visible;
      opacity: 1;
    }
  .slicknav_nav a{
    background: $base_blue_c;
    color: #333;
    @include transition($time);
    &:hover{
      background: #1CA4C9;
      @include transition($time);
      color: #333;
    }
  }
  /*about*/
  .about__item{
    width: 100%;
  }
  /*end about*/
  /*team*/
  .team__item{
    width: 100%;
  }
  /*end team*/
  /*skils*/
  .skils__item{
    width: 100%;
  }
  /*end skils*/
  /*portfolio*/
  .portfolio__item{
    width: 100%;
  }
  /*end portfolio*/
  /*blog*/
  .blog__list{
    column-count: 1;
  }
  /*end blog*/
  /*contacts*/
  .left-form-field,
  .right-form-field{
    width: 100%;
  }
  /*end contacts*/
  /*footer*/
  .l-footer-block{
    width: 100%;
  }
    .footer-block__item{
      margin: 0 0 0.1em 0;
    }
      .footer-block__head{
        display: none;
      }
  /*end footer*/
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {

}


/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}


@media only screen and (max-width : 240px) {

}