nav.breadcrumbs.clearfix
    .l-center
        ul.breadcrumbs__list
            li.breadcrumbs__item
                a.breadcrumbs__link(href="#") Главная
            li.breadcrumbs__item
                a.breadcrumbs__link(href="#") Категории
            li.breadcrumbs__item
                span.breadcrumbs__this 3D жидкость
// end breadcrumbs