section.content.clearfix
    .l-center
        h1.content__head Inner page
        a(href="assets/pic/inner/1.jpg" data-lightbox="example-set")
            img.content__img_center(src="assets/pic/inner/1.jpg" alt="inner")
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed condimentum mi et metus blandit, vel gravida neque eleifend. Cras quis sapien tempus, blandit lacus quis, tempor velit. Integer quis urna nec sem malesuada convallis. Etiam at lacinia orci, eget sodales dui. Pellentesque fermentum auctor aliquet. Maecenas sed pharetra mauris. Sed rutrum nisl vitae rutrum varius. Donec mattis, metus vel lacinia feugiat, velit lacus faucibus enim, vel tincidunt libero leo et diam. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Duis placerat magna sagittis, luctus lacus nec, iaculis quam. Aenean egestas bibendum turpis, a imperdiet leo gravida eget. Integer ac ipsum velit. In commodo nisl at posuere vehicula. Praesent turpis nisl, tincidunt vel fermentum at, facilisis in turpis. Sed dignissim eros id metus pellentesque, a interdum arcu luctus.
        a(href="assets/pic/inner/2.jpg" data-lightbox="example-set")
            img.content__img_left(src="assets/pic/inner/2.jpg" alt="inner")
        p Praesent pellentesque finibus tellus, non malesuada nisl. Cras sit amet risus ornare, aliquet nibh quis, condimentum mi. Curabitur eget eros arcu. Etiam sit amet nulla nec neque ultricies commodo vel sit amet diam. Curabitur a accumsan augue, et convallis dolor. Etiam facilisis ante vitae porta fringilla. Etiam viverra auctor leo vel posuere. Morbi sed nulla metus. Integer ultrices molestie luctus. Pellentesque at nulla nisi. Nulla facilisi. Donec consectetur iaculis tellus, vitae posuere augue accumsan ac.
        a(href="assets/pic/inner/3.jpg" data-lightbox="example-set")
            img.content__img_right(src="assets/pic/inner/3.jpg" alt="inner")
        p Vestibulum ligula ante,
            a(href) elementum eget velit
            |  eget, vulputate fringilla nisi. Suspendisse viverra ac erat quis ornare. Suspendisse id tincidunt eros, non scelerisque sapien. Aliquam ultricies semper sollicitudin. Mauris malesuada felis in nunc porttitor faucibus. Maecenas mollis eu justo eu luctus. Vestibulum eu nisl eget eros rutrum venenatis. In turpis sem, vestibulum in consequat nec, ultricies et risus. Ut auctor ligula ante, imperdiet lobortis turpis feugiat at. In eu efficitur elit, sed egestas arcu. Cras sed gravida felis. Sed non feugiat ante. Aenean vel justo quis tortor porttitor luctus. Sed vitae mi nec sapien cursus rhoncus. Nunc id sem a nisl facilisis dapibus.
        ul
            li one
            li two
                ul
                    li 1111
                    li 2222
                    li 3333
            li tree
            li four
        p Mauris luctus eu augue pharetra aliquet. Suspendisse ullamcorper pulvinar lacus, a aliquam nisi eleifend sit amet. Aliquam ac tellus id metus pulvinar ornare vel nec enim. Fusce vestibulum mollis felis, a porta massa eleifend at. Aenean sit amet est convallis, rhoncus erat ac, posuere neque. Nulla in augue vestibulum, molestie ante at, cursus libero. Curabitur molestie dignissim tempor. Nulla vel arcu egestas, tincidunt enim id, efficitur est. Ut in consectetur arcu. Donec sed cursus turpis, laoreet malesuada felis.
        p Sed non fringilla mauris, sit amet vehicula enim. Sed quis blandit est, in lacinia sem. Curabitur vel scelerisque elit. Nunc porta vel dui sit amet ullamcorper. Vestibulum interdum ipsum sed nunc tincidunt hendrerit et in ligula. Vivamus ultrices suscipit consectetur. Sed nec dolor sed ipsum tincidunt sollicitudin. Duis facilisis facilisis lacus. Vestibulum facilisis, odio sit amet facilisis rhoncus, dui nulla dignissim mauris, sed tempor nisi est in nunc. Quisque tincidunt velit et ipsum sollicitudin laoreet. Praesent vel fermentum justo. Sed pellentesque pellentesque diam, in rutrum tortor rutrum eu. Pellentesque egestas auctor turpis ac auctor. Suspendisse sed lorem dignissim, iaculis est ac, scelerisque nulla. Nulla et vestibulum mi.
        .gallery
            a(href="assets/pic/inner/4.jpg" data-lightbox="example-set")
                img.content__img_left(src="assets/pic/inner/4.jpg" alt="inner")
            a(href="assets/pic/inner/5.jpg" data-lightbox="example-set")
                img.content__img_left(src="assets/pic/inner/5.jpg" alt="inner")
            a(href="assets/pic/inner/6.jpg" data-lightbox="example-set")
                img.content__img_left(src="assets/pic/inner/6.jpg" alt="inner")
            a(href="assets/pic/inner/7.jpg" data-lightbox="example-set")
                img.content__img_left(src="assets/pic/inner/7.jpg" alt="inner")
            a(href="assets/pic/inner/7.jpg" data-lightbox="example-set")
                img.content__img_left(src="assets/pic/inner/7.jpg" alt="inner")
            a(href="assets/pic/inner/8.jpg" data-lightbox="example-set")
                img.content__img_left(src="assets/pic/inner/8.jpg" alt="inner")
            a(href="assets/pic/inner/9.jpg" data-lightbox="example-set")
                img.content__img_left(src="assets/pic/inner/9.jpg" alt="inner")
            a(href="assets/pic/inner/10.jpg" data-lightbox="example-set")
                img.content__img_left(src="assets/pic/inner/10.jpg" alt="inner")
            a(href="assets/pic/inner/11.jpg" data-lightbox="example-set")
                img.content__img_left(src="assets/pic/inner/11.jpg" alt="inner")
