header.header.clearfix
    .l-center
        .logo
            a.logo__link(href="#")
                img.logo__img(src="assets/img/logo.png" alt="ASIC cold")
                span.logo__text ASIC Cold
        include main_nav
// header