section.portfolio.clearfix
    .l-center
        h2.section__head
            | Our
            span.strong  Portfolio
        ul.portfolio__list.clearfix
            -for(var i=1; i<7; i++)
                li.portfolio__item
                    a.portfolio__link(href="#")
                        img.portfolio__img(src="/assets/pic/portfolio/"+i+".jpg", alt="portfolio "+i+"")
                        .portfolio__mask
        +btn('a','btn__blue-trans-w','See all')
// end portfolio