section.preview
    .l-center
        h1.preview__head We are Globy
        .preview__content
            span.preview__content-big Providing innovative services across the globe!
            p Join us! We are an international company with perfect reputation, long-term experience and millions of customers all over the world. Become the best player in the world of business. Learn the best consulting solutions. Get to know how to win and gain success.
            +btn('a', 'btn_blue','Read more')
// end preview