section.skils.clearfix
    .l-center
        h2.section__head
            | The
            span.strong  Skils

        -var percents = ['85%','75%','90%','95%']
        -var texts = ["of our trainees have got a prestigious job","participants established successful business","have got an ascent","have already earned their first million"]
        ul.skils__list
            -for(var i=0; i<percents.length;i++)
                li.skils__item
                    .l-circle
                        .circle= percents[i]
                        span.persent= percents[i]
                    a.skils__link(href="#")= texts[i]
// end skils