section.skils
    .l-center
        h2.section__head
            | The
            span.strong  Skils

        -var percents = ['85%','75%','90%','35%']
        -var texts = ["of our trainees have got a prestigious job","participants established successful business","have got an ascent","have already earned their first million"]
        ul.skils__list
            -for(var i=0; i<percents.length;i++)
                li.skils__item
                    .skils__diagram
                    .skils__percent= percents[i]
                    a.skils__link(href="#")= texts[i]
// end skils