section.slogan
    .l-center
        h2.section__head
            span.strong Welcome
            span.blue-c to Our Company!
        .slogan__content
            p We are the unique set-up, that is ready to challenge and knock out such a global problem as unemployment. Our company gladly helps those, who are ready to learn, to develop and to gain new experience. GLOBY unifies people all over the world. Everything we do, we do it for YOU - totally gratuitously and with great enjoyment. We work so that you could work!
// end slogan