section.socials
    -var soc = ['vk','twitter','facebook']
    ul.socials__list
        -for(var i=0;i<soc.length;i++)
            li.socials__item
                a.socials__link(href="#", alt=soc[i])
                    i(class=`fa fa-${soc[i]}`)

