section.testimonials.clearfix
    .l-center
        h2.section__head Testimonials
        -var photos = ['federicoBlancato','arsenAkopyan']
        -var names = ['Federico Blancato, Italy','Arsen Akopyan, Russia']
        -var desc = ["After graduating from the university, I faced with the problem. There were no company where I had not heard a refusal. My friend advised me GLOBY. I have chosen a probation program. I was lucky enough to undergo a training in 'Google' company. That was 3 years ago, and nowadays I am a happy top-manager of this company.","Roughly a year ago I decided to found a restaurant in Moscow. You know, there is a big infighting in this sphere. GLOBY business-creation program became my salvation. I had got many valuable lessons there and tried to embody them. As a result, my restaurant is one of the most popular and successful in Russia."]
        ul.testimonials__list
            -for(var i = 0; i<photos.length; i++)
                li.testimonials__item
                    .testimonials__photo
                        .l-testimonials__photo
                            img.testimonials__img(src="/assets/pic/testimonials/"+photos[i]+".png", alt=""+names[i])
                    .testimonials__content
                        h3= names[i]
                        p= desc[i]
        +btn('a','btn__blue-trans-b','Read more')
// testimonials